[submodule "Packages/UnityUtil"]
	path = Packages/UnityUtil
	url = https://github.com/voxell-tech/UnityUtil
[submodule "Packages/smartassistant.ux"]
	path = Packages/smartassistant.ux
	url = https://github.com/voxell-tech/smartassistant.ux.git
[submodule "Packages/UnitySpeechEngine"]
	path = Packages/UnitySpeechEngine
	url = https://github.com/voxell-tech/UnitySpeechEngine.git
[submodule "Packages/UnityAudioVisualizer"]
	path = Packages/UnityAudioVisualizer
	url = https://github.com/voxell-tech/UnityAudioVisualizer.git
[submodule "Packages/RapidGUI"]
	path = Packages/RapidGUI
	url = https://github.com/fuqunaga/RapidGUI
[submodule "Packages/SmartInspector"]
	path = Packages/SmartInspector
	url = https://github.com/voxell-tech/SmartInspector
[submodule "Packages/SmartHierarchy"]
	path = Packages/SmartHierarchy
	url = https://github.com/voxell-tech/SmartHierarchy.git
[submodule "Packages/UnityIronPython"]
	path = Packages/UnityIronPython
	url = https://github.com/voxell-tech/UnityIronPython.git
[submodule "Packages/UnityAI"]
	path = Packages/UnityAI
	url = https://github.com/voxell-tech/UnityAI.git
[submodule "Packages/UnityNLP"]
	path = Packages/UnityNLP
	url = https://github.com/voxell-tech/UnityNLP.git
